<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kim.jiwook.playground.mapper.BoardMapper">

    <insert id="insertBoard" parameterType="BoardVO">
        /* QueryID = insertBoard */
        insert into board(title, content, author, created_at, updated_at)
        VALUES (#{title}, #{content}, #{author}, now(), default)
    </insert>

    <select id="selectAllBoard" resultType="BoardVO">
        /* QueryID = selectAllBoard */
        select seq, title, content, author, created_at
        from board
    </select>

    <select id="selectBoardBySeq" parameterType="BoardVO" resultType="BoardVO">
        /* QueryID = selectBoardBySeq */
        select seq, title, content, author, created_at
        from board
        where seq = #{seq}
    </select>

</mapper>