<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kim.jiwook.playground.mapper.MainMapper">

    <insert id="insertMain" parameterType="MainVO">
        /* QueryID = insertMain */
        insert into main(title, content, created_at, updated_at)
        values (#{title}, #{content}, now(), default)
    </insert>

</mapper>